name: Promote Staging → Main

on:
  push:
    branches: [staging]

permissions:
  contents: write
  pull-requests: write

jobs:
  promote-to-main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout staging
        uses: actions/checkout@v4
        with:
          ref: staging
          fetch-depth: 0

      - name: Criar Pull Request automático para main
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          
          git checkout main
          git pull origin main
          
          git merge origin/staging --no-edit
          
          git push origin main
